@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-family: 'Arial';
	overflow-x: hidden;
	color: #414F5C;
}

ul, ol {
	margin-left: 15px;
}

.display-none {
	display: none;
}

#header {
	height: 100px;
}

.running-text {
	/*color: #D20000;*/
	/*font-weight: bold;*/
}

marquee {
	padding: 5px;
	display: block;
	line-height: auto !important;
	margin: 0;
	background: #FFFFFF;
}

a {
	text-decoration:none !important;
	}

a:hover{
	text-decoration:none;
	color:#F90;
	}

a > button {
	color: #000000;
}

a:before {
	content: ' ';
}

/* navigation dropdown */
/* this code override default dropdown style */
ul.dropdown {
	display: block !important;
	background: #0D5875 !important;
	width: 100% !important;
	float: left !important;
}

ul.dropdown > li {
	background-color: #0D5875 !important;
}

ul.dropdown > li:hover,
ul.dropdown > li:hover ul li {
	background-color: #106B8D !important;
}

ul.dropdown > li:hover ul li {

}

ul.dropdown li a {
	background: none;
	display: block;
	padding: 10px;
	line-height: 20px !important;
}
/* end navigation dropdown */

#logo{
	/*background:url(img/logo-1.png) no-repeat;*/
	float:left;
	height:100px;
	width:463px;
	}
#bg_variation{
	background:url(img/bg_variation.jpg) no-repeat;
	float:left;
	height:100px;
	width:100%;
	}

#info_header{
	font-family:Arial, Helvetica, sans-serif;
	/*background:url(img/bg_right.png) no-repeat;*/
	width:250px;
	height:100px;
	font-size:12px;
	font-weight:bold;
	margin-right:10px;
	margin-top:5px;
	color:#FFF;
	float:right;
	}

#info_isi{
	padding:20px;
	text-align:center;
	}

#info_isi a {
	color: #FF851B;
}

.date{
	color:#333;
	}

.left{
	float:left;
	}
	
.right{
	float:right;
	}
/* menu */

#menu{
	clear:both;
	padding:10px;
	}

#menu_nama a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	border:1px solid #666;
	background:url(img/bg-menu-a.png) repeat-x;
	height:27px;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	margin-top:5px;
	}
	
#menu_nama a:hover{
	background:url(img/bg-menu-b.png) repeat-x;
	color:#333;
	font-weight:bold;
	border:1px solid #F90;
	}

#menu_nama1{
	width:250px;	
	background:url(img/bg-menu-a.png) repeat-x;
	border:1px solid #666;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFF;
	}

#menu_nama1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	font:bold;
	}
	
#menu_nama1:hover{
	background:url(img/bg-menu-b.png) repeat-x;
	color:#F90;
	font-weight:bold;
	}

#menux{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666;
	margin-bottom:10px;
	padding:10px;
	}

#menu_namax a{
	margin:5px;
	padding:5px;
	background:url(img/bg-menu-a.png) repeat-x;
	border:1px solid #666;
	}
	
#menu_namax a:hover{
	background:url(img/bg-menu-b.png) repeat-x;
	color:#F90;
	}


#menu_m{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#666;
	margin-bottom:10px;
	padding:10px;
	}

#menu_nama_m a{
	margin:5px;
	}
	
#menu_nama_m a:hover{
	color:#F90;
	}

/* akhir menu */

/* isi container */

#container_master_bg{
	background:#ffffff;
	height:100%;
	min-height:400px;


	
	}
#container{
	z-index:1;
	background:url(img/bg_container.png) no-repeat;
	background-attachment:inherit;
	/*position:relative;*/
	padding:0 0px;
	height:100%;
	}

#container_left{
	width:16%;
	position:relative;
	float:left;
	}

#container_right{
	width:80%;
	position:relative;
	float:right;
	}

.border{
	border:#CCC 1px solid;
	padding:5px;
	}

/* akhir isi container */


/* footer */
#footer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color: #DEDEDE;
	padding: 10px;
	margin-top: 20px;
}

#footer:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/* akhir footer */


/* html component */

h1 {
	font-size:16px;
	margin-top:0px;
	padding:0px;
	}

h3 {
	font-size:14px;
	margin-top:0px;
	padding:0px;

	}
h4 {
	margin-top:0px;
	padding:0px;
	}

p {
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 0;
}

p.help-block {
	margin-bottom: 0;
}

#frame {
	width:100%;
	background:#f2f2f2;
	background-color:#FFF;
	}

#frame > div:last-child {
	/*margin: 10px !important;*/
}

.frame_title h3,
#frame_title h3 {
	background:#0D5875;
	padding:10px;
	margin-bottom:5px;
	text-align:center !important;
	text-transform: uppercase;
	font-weight: 300;
	color: #FFFFFF;
	font-weight: bold;
	}

	#frame_title2{
	background:#0D5875;
	padding: 10px 15px ;
	margin-bottom:5px;
	text-align:left;
	font-weight: 300;
	}

	#frame_title2 h3 {
		color: #FFF;
		font-weight: bold;
		margin: 0;
	}

.frame_body,
#frame_body {
	padding: 10px;
}

/* form */

form > table.tb {
	width: auto !important;
	min-width: 400px;
}

fieldset {
	margin: 20px;
	padding: 5px;
	border: solid 1px #0D5875;
}

fieldset.default {
	margin: 0 0 20px 0;
	padding: 10px;
	border: solid 1px #DEDEDE;
}

fieldset.bs-style {
	margin: 0 0 20px 0;
	padding: 20px;
	border: solid 1px #CACACA;
}

fieldset.lumen {
	margin: 0;
	margin-bottom: 20px;
	border: none;
}

legend {
	width: auto;
	/*border: solid 1px #0D5875;*/
	border: none;
	color: #0D5875;
	/*text-transform: uppercase;*/
	font-weight: bold;
	font-size: 20px;
	padding: 5px 10px;
	text-align: center !important;
	margin-bottom: 0;
}

fieldset.default legend {
	text-align: left !important;
	/*display: inline-block;*/
	color: #626262;
	font-size: 14px;
}

fieldset.bs-style legend {
	font-size: 16px;
	color: #8D8D8D;
	text-align: left !important;
}

fieldset.lumen legend {
	/*font-size: 16px;*/
	/*color: #8D8D8D;*/
	width: 100%;
	margin-bottom: 20px;
	text-align: left !important;
	border-bottom: solid 1px #0D5875;
}

select[readonly="readonly"],
input[readonly="readonly"] {
	background-color: #EEEEEE !important;
}

select.text,
[type="text"].text,
[type="date"].text,
[type="password"].text,
[type="email"].text {
	/*min-width: 200px;*/
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #999;
	background-color: #FFFFFF;
	padding: 4px 10px;
	height: 29px;
	margin-bottom: 5px;
	font-size: 12px !important;
}

select.text {
	/*min-width: 220px;*/
	padding: 4px 6px;
	height: 29px;
}

.input-group .text {
	/*border-color: #DDDDDD;*/
}

.input-group .text + .input-group-btn .text {
	/*margin: 0;*/
	height: 30px;
	padding: 3px 10px;
	top: -2px;
}

.input-group-addon {
	border-radius: 0;
}

.input-group-addon label.checkbox-inline {
	font-size: 12px;
	padding-top: 0;
	font-weight: normal !important;
	min-width: 50px !important;
}

.input-group-addon label.checkbox-inline [type="checkbox"] {
	margin-top: -1px;
}

button.text,
[type="button"].text,
[type="submit"].text,
[type="reset"].text {
	padding: 4px;
	margin-bottom: 5px;
}

/* custom button */
button.text,
[type="button"].text,
[type="submit"].text,
[type="reset"].text {
	display: inline-block;
	margin-bottom: 0;
	font-weight: bold !important;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
		touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-width: 0 1px 4px 1px;
	white-space: nowrap;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.42857143;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: uppercase;
}
button.text:focus,
button.text:active:focus,
button.text.active:focus,
button.text.focus,
button.text.active.focus,
button.text:active.focus,
[type="button"].text:focus,
[type="button"].text:active:focus,
[type="button"].text.active:focus,
[type="button"].text.focus,
[type="button"].text.active.focus,
[type="button"].text:active.focus,
[type="submit"].text:focus,
[type="submit"].text:active:focus,
[type="submit"].text.active:focus,
[type="submit"].text.focus,
[type="submit"].text.active.focus,
[type="submit"].text:active.focus,
[type="reset"].text:focus,
[type="reset"].text:active:focus,
[type="reset"].text.active:focus,
[type="reset"].text.focus,
[type="reset"].text.active.focus,
[type="reset"].text:active.focus
{
	outline: none;
	outline-offset: -2px;
}
button.text:hover,
button.text:focus,
button.text.focus,
[type="button"].text:hover,
[type="button"].text:focus,
[type="button"].text.focus,
[type="submit"].text:hover,
[type="submit"].text:focus,
[type="submit"].text.focus,
[type="reset"].text:hover,
[type="reset"].text:focus,
[type="reset"].text.focus
{
	color: #555555;
	text-decoration: none;
}

button.text:active,
button.text.active,
[type="button"].text:active,
[type="button"].text.active,
[type="submit"].text:active,
[type="submit"].text.active,
[type="reset"].text:active,
[type="reset"].text.active
{
	border-width: 3px 1px 1px 1px;
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

button.text.disabled,
button.text[disabled],
fieldset[disabled] button.text,
[type="button"].text.disabled,
[type="button"].text[disabled],
fieldset[disabled] [type="button"].text,
[type="submit"].text.disabled,
[type="submit"].text[disabled],
fieldset[disabled] [type="submit"].text,
[type="reset"].text.disabled,
[type="reset"].text[disabled],
fieldset[disabled] [type="reset"].text
{
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

button.text,
[type="button"].text,
[type="submit"].text,
[type="reset"].text
{
	color: #555555;
	background-color: #eeeeee;
	border-color: #e2e2e2;
}

button.text:focus,
button.text.focus,
[type="button"].text:focus,
[type="button"].text.focus,
[type="submit"].text:focus,
[type="submit"].text.focus,
[type="reset"].text:focus,
[type="reset"].text.focus
{
	color: #555555;
	background-color: #d5d5d5;
	border-color: #a2a2a2;
}

button.text:hover,
[type="button"].text:hover,
[type="submit"].text:hover,
[type="reset"].text:hover
{
	color: #555555;
	background-color: #d5d5d5;
	border-color: #c3c3c3;
}

button.text:active,
button.text.active,
[type="button"].text:active,
[type="button"].text.active,
[type="submit"].text:active,
[type="submit"].text.active,
[type="reset"].text:active,
[type="reset"].text.active
{
	color: #555555;
	background-color: #d5d5d5;
	border-color: #c3c3c3;
}

button.text:active:hover,
button.text.active:hover,
button.text:active:focus,
button.text.active:focus,
button.text:active.focus,
button.text.active.focus,
[type="button"].text:active:hover,
[type="button"].text.active:hover,
[type="button"].text:active:focus,
[type="button"].text.active:focus,
[type="button"].text:active.focus,
[type="button"].text.active.focus,
[type="submit"].text:active:hover,
[type="submit"].text.active:hover,
[type="submit"].text:active:focus,
[type="submit"].text.active:focus,
[type="submit"].text:active.focus,
[type="submit"].text.active.focus,
[type="reset"].text:active:hover,
[type="reset"].text.active:hover,
[type="reset"].text:active:focus,
[type="reset"].text.active:focus,
[type="reset"].text:active.focus,
[type="reset"].text.active.focus
{
	color: #555555;
	background-color: #c3c3c3;
	border-color: #a2a2a2;
}

button.text:active,
button.text.active,
[type="button"].text:active,
[type="button"].text.active,
[type="submit"].text:active,
[type="submit"].text.active,
[type="reset"].text:active,
[type="reset"].text.active
{
	background-image: none;
}
/* end custom button */

select.text:hover,
[type="text"].text:hover,
[type="password"].text:hover,
[type="email"].text:hover {
	background-color:#FF9;
}

.text1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	border:1px solid #999;
	background-color:#FBFBFB;
	padding:1px;
}

textarea{
	border:1px solid #999;
	padding:2px;
	}

select{
	border:1px solid #999;
	background-color:#FBFBFB;
	padding:2px;
	}

checkbox{
	border:1px solid #FFF;
}

/* ultabs */
ul.tabs > li {
	border-bottom: none !important;
}
/* end ultabs */

/* table */

table {
	/*background-color: #FFF;*/
	text-align: left;
	font-size: 12px;
	/*width: auto !important;*/
}

table.tb {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 !important;
	padding: 5px;
	width: 100% !important;
}

th {
	padding: 5px;
	font-size: 12px;
}

td {
	margin: 0;
	padding: 5px;
	vertical-align: top;
}

table.table-rekap th {
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle !important;
	white-space: nowrap;
}

/* form */
.table-search,
#frame > div > form > table,
#frame > div > form > table.tb {
	border-collapse: collapse;
	border: solid 4px #DEDEDE !important;
}

#frame > div > form > table tr {
	border: solid 1px #DEDEDE;
}

#frame > div > form > table th,
#frame > div > form > table td {
	padding: 5px 20px !important;
}

#frame > div > form > table.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #FFFFFF;
}
/* end form */


/* td color */

/*.tr1 {
 background-color: #c1e5c5; color: black;
}

.tr2 {
 background-color: #fff; color: black;
}

.tr1:hover{
	background-color:#FFC;
	}
	
.tr2:hover{
	background-color:#FFC;
	}*/

/* tab */

#tabmenu {
	color: #333;
	margin-top: 10px;
	padding: 0px;
	z-index: 1;
	/*padding-left: 10px;*/
	}

#tabmenu li {
	display: inline-block;
	overflow: hidden;
	list-style-type: none;
	}

#tabmenu a, a.active {
	background:#03AEF0;
	/*border: 1px solid #999;*/
	border-bottom: none;
	padding: 5px 20px 5px 20px;
	margin: 0px;
	text-decoration: none;
	font:bold;
	cursor:hand;
	color:#E3F9FD;
	}

#tabmenu a.active {
	background: #72c100;
	color:#FFF;
	}

#tabmenu a:hover {
	color: #FF0;
	background: #00c1a6 url(img/bg_poly_tab_v.png) repeat-x;
	cursor:pointer;
	}

#tabmenu a:visited {
	color: #FFF;
	background: #00c1a6 url(img/bg_poly_tab_v.png) repeat-x;
	}

#tabmenu a.active:hover {
	background: #03C;
	color: #006;
	}

#content {
	text-align: right;
	background: #F5F9FC;
	padding: 20px;
	border: 1px solid #999;
	border-top: none;
	z-index: 2;
	}

#content a {
	text-decoration: none;
	color: #333;
	}

#content a:hover {
	color: #F60;
	}

/* akhir tab */

#wrapper{
width: 100%;
margin: 0 auto;
}
.box{
background: #fffff;
padding-top:30px;
padding-bottom:10px;
}
.boxholder{
clear: both;
padding: 5px;
background: #ffffff;
padding-top:0px;
}
.tab{
float: left;
height: 26px;
margin: 0 1px 0 0;
padding:0px 10px 0px 10px;
text-align: center;
background: #C0DBE9 url(images/greentab.jpg) no-repeat;
}
.tabtxt{
margin: 0;
color: #fff;
font-size: 12px;
font-weight: bold;
padding: 9px 0 0 0;
}

	.formclass {
		position: absolute;
		left: 0px;
		top: 0px;
		visibility: hidden;
		height: 0px;
		width: 0px;
		background: #A2BAFA;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
	}
	
	.autocomp {
	position: absolute;
	left: 4px;
	top: 6px;
	visibility: hidden;
	width: 400px;
	}
	
	.taskboxclass {
		position: absolute;
		left: 0px;
		top: 0px;
		visibility: hidden;
		width: 0px;
	}

#bg_rs{
	background:url(img/rs.png) no-repeat;
	position:relative;
	float:left;
	height:278px;
	width:500px;
	}
	
#kanan_info{
	position:relative;
	float:right;
	width:500px;
	height:400px;
	text-align:right;
	}
	
/* vertikal */
.verticaltext {
font: bold 13px Arial;
position: absolute;
right: 3px;
top: 20px;
width: 15px;
writing-mode: tb-rl;}

/* notifikasi */
		*{
		margin:0;
		padding:0;
		}
		#notification{
			z-index:3;
			position:absolute;
			background:url(img/bg_variation.png) repeat-x;
			background-color:#FFF;
			text-align:left;
			position:absolute;
			bottom:0%;
			right:2%;
			height:auto;
			width:200px;
			border:1px solid #999;
		}
		#notificationClose{
			padding:5px;
			cursor:pointer;
		}
		#notificationIn{
			margin-top:5px;
			padding:10px;
			font-size:11px;		
		}

/*FIX FOOTER*/
#fixed-footer {
	z-index:2;
	background:#DEDEDE;
	position:absolute;
	bottom:0;
	width:100%;
	height:25px;
}

 /* for moz/opera and others*/
html>body #fixed-footer{position:fixed}

#footer-inner {
	border-top:1px solid #fff;
	background:#d2d8d3;
	height: 31px;
}

#content {
	margin-bottom: 31px;
}

ul.footer-navigation,
ul.footer-navigation * { margin:0;padding:0;}
ul.footer-navigation {
	position:relative;
	font-size:1.1em;
	max-width:100%;
	height:2.5em;
}
ul.footer-navigation li {
	border-left:1px solid #fff;
	border-right:1px solid #ccc;
	cursor:pointer;
	float:left;
	text-align:center;
	list-style-type:none;
	font-weight:normal;
	padding-left:6px;
}
ul.footer-navigation li a {
	color:#333;
	text-decoration:none;
	display:block;
	float:left;
	padding:0 1em 0 24px;
	height:2.4em;
	line-height:2.5em;
}
ul.footer-navigation li:hover a,
ul.footer-navigation li a:hover,
ul.footer-navigation li a.selected,
ul.footer-navigation li a:focus {color:#333; background:#fff;}


.autocomplete-box > div {
	border-bottom: solid 1px #DEDEDE;
}

.autocomplete-box > div:last-child {
	border-bottom: none;
}


/* chat */
#chat1{
	z-index:2;
	background-color:#FFF;
	text-align:left;
	position:absolute;
	bottom:0%;
	right:2%;
	height:auto;
	width:auto;
}

/* form element */
label {
	font-weight: bold !important;
}

.checkbox-inline,
.radio-inline {
	display: inline-block;
	margin-bottom: 2px;
	padding-left: 0;
	vertical-align: middle !important;
	/*font-size: 1px;*/
}
.checkbox-inline > input[type="checkbox"],
.checkbox-inline > label,
.radio-inline > input[type="radio"],
.radio-inline > label {
	float: left;
}
.checkbox-inline > input[type="checkbox"],
.radio-inline > input[type="radio"] {
	margin: 1px 3px 0 0;
	position: relative;
}
.checkbox-inline > label,
.radio-inline > label {
	margin-right: 5px;
	margin-bottom: 0;
}
.checkbox-inline *:after,
.radio-inline *:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/* end form element */

/* select 2 */
.select2-container--default .select2-selection--single {
	border-radius: 0 !important;
	border-color: #999999 !important;
	height: 32px !important;
}

select.select2-lumen + .select2-container--default .select2-selection--single {
	height: 38px !important;
	padding: 5px 4px;
}

select.select2-lumen + .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px !important;
}
/* end select 2 */

/* bootstrap modal */
.modal .modal-content {
	border-radius: 0;
	border-radius: 5px;
	border: solid 0px #0D5875;
	box-shadow: 0 0 0 6px rgba(13, 88, 117, 0.3);
}

.modal .modal-header {
	background-color: #E4E4E4;
	border-radius: 5px 5px 0 0;
}

.modal .modal-footer {
	padding: 10px !important;
}

.modal .modal-title {
	font-weight: bold;
	font-size: 16px;
	color: #000000;
}
/* end bootstrap modal */

/* bootstrap form */
.form-control {
	border-radius: 0;
	box-shadow: none;
	/*font-size: 12px;*/
	border-color: #CACACA;
}

.form-control:focus,
.text:focus {
	box-shadow: none;
	border: solid 1px #999999;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, 0.3);
	outline: none !important;
}
.form-control.input-sm {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #999;
	font-size: 12px !important;
	/*background-color: #FFF;*/
	height: 32px;
}
select.form-control.input-sm {
	padding: 4px;
}
.input-group {
	border: solid 1px #999;
}
.input-group .form-control {
	border: none;
}
/* end bootstrap form */

/* table horizontal highlight */
table.table-horizontal-highlight th {
	border-left: solid 4px #DEDEDE;
	text-transform: uppercase;
	background: rgba(249,249,249,1);
	background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 18%, rgba(249,249,249,1) 68%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,249,249,1)), color-stop(18%, rgba(249,249,249,1)), color-stop(68%, rgba(249,249,249,1)), color-stop(97%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 18%, rgba(249,249,249,1) 68%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 18%, rgba(249,249,249,1) 68%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 18%, rgba(249,249,249,1) 68%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 18%, rgba(249,249,249,1) 68%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=1 );
}

table.table-horizontal-highlight th,
table.table-horizontal-highlight td {
	padding: 7px 10px !important;
}

/* end table horizontal highlight */

/* bootstrap tables */
table.table-horizontal {
	border: none !important;
}

table.table-horizontal th {
	width: 120px !important;
}

table.table-horizontal th,
table.table-horizontal td {
	border-top: none !important;
}

table.table {
	border: solid 1px #DDDDDD;
	width: 100% !important;
	margin-bottom: 20px !important;
}

.table>thead>tr>th {
	border-bottom: none;
}

table.table th,
table.table td {
	border-color: #DDDDDD !important;
}
/* end bootstrap tables */

/* bootstrap grid */
.row.no-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.row.no-margin > div {
	padding-left: 0px;
	padding-right: 0px;
}

.row.sm-margin {
	margin-left: -5px;
	margin-right: -5px;
}

.row.sm-margin > div {
	padding-left: 5px;
	padding-right: 5px;
}
/* end bootstrap grid */

.sm-padding {
	padding: 10px;
}

/* well */
.well {
	border-radius: 0;
}

.well.well-blank {
	border-color: #DDDDDD;
	background-color: #FFFFFF;
}
/* end well */

hr {
	margin: 0;
}

hr.separator {
	margin-bottom: 20px;
	border-color: #0D5875;
	border-style: dotted;
	position: relative;
}

hr.separator::before {
	position: absolute;
	display: block;
	content: "separator";
	font-size: 10px;
	padding: 2px 5px;
	background: #A82E00;
	color: #FFFFFF;
	left: 0;
	/*top: -18px;*/
}

/* datatables */
.dataTable thead th {
	text-align: center;
}

.dataTable th.details-control-all {
	cursor: pointer;
}

.dataTable th.details-control-all .fa-plus-circle {
	display: block;
}

.dataTable th.details-control-all .fa-minus-circle {
	display: none;
}

.dataTable th.details-control-all.shown .fa-plus-circle {
	display: none;
}

.dataTable th.details-control-all.shown .fa-minus-circle {
	display: block;
}

.dataTable td.details-control {
	cursor: pointer;
}

.dataTable td.details-control .fa-plus-circle {
	display: block;
}
.dataTable td.details-control .fa-minus-circle {
	display: none;
}

.dataTable tr.shown td.details-control .fa-plus-circle {
	display: none;
}
.dataTable tr.shown td.details-control .fa-minus-circle {
	display: block;
}

table th.no-gap,
table td.no-gap {
	width: 10px !important;
}
/* end datatables */

form.transparent-field input[type="text"][readonly="readonly"],
form.transparent-field textarea[readonly="readonly"] {
	padding: 0;
	border: none;
	background: none !important;
	display: inline-block;
}

/* *********  start nprogress  **************************** */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
	  -ms-transform: rotate(3deg) translate(0px, -4px);
		  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
		  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#nprogress .bar {
	background: #B1121B !important;
	box-shadow: 0 0 2px #B1121B;

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 4px !important;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #B1121B, 0 0 10px #B1121B;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
	  -ms-transform: rotate(3deg) translate(0px, -4px);
		  transform: rotate(3deg) translate(0px, -4px);
}
/* *********  end nprogress  **************************** */

/* bootstrap alert */
.alert {
	border-width: 1px;
	border-radius: 0;
}

.alert-warning {
	background-color: #FCF8E3;
	border-color: #F8E1B1;
	color: #8A6D3B;
}
/* end bootstrap alert */

.btn {
	border-radius: 0 !important;
}

.btn:hover {
	margin-top: 0;
	border-bottom-width: 4px;
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

.btn.btn-info:hover {
	background: #5FC1E8 !important;
	border-color: #3EB6E3 !important;
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.btn:active {
	margin-top: 2px;
	border-bottom-width: 2px;
}

.btn:active,
.btn:focus {
	outline: none !important;
}

/* carabayar container */
.carabayar_container {
	border-color: #0D5875 !important;
}

.carabayar_container legend {
	color: #0D5875 !important;
}
/* end carabayar container */

/* admission data kamar */
.bed-info .popover {
	width: auto !important;
}

.bed-info .popover div {
	white-space: nowrap;
}
/* end admission data kamar */

/* exception error */
.error-exception {
	border-radius: 0;
	border-color: #AE0004;
	color: #000000;
}
/* end exception error */

/* form validation error */
label.error {
	position: absolute;
	display: inline !important;
	padding: 3px 10px;
	margin-left: 5px;
	color: #FFFFFF !important;
	min-width: 142px;
	z-index: 100;
	background: rgba(210,0,0,0.7);
	border-right: solid 4px rgba(13,88,117,0.7);
}

label.error::before {
	content: '';
	position: absolute;
	z-index: 100;
	width: 0;
	height: 0;
	margin-left: -17px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 

	border-right: 7px solid rgba(210,0,0,0.7)
}

label.error[style="display: none;"] {
	display: none !important;
}

.container-relative.container-relative-inline {
	display: inline-block;
}

.relative-container,
.container-relative {
	position: relative !important;
}

select.select2-hidden-accessible+label.error {
	right: -148px;
	margin-top: 0;
}

.form-control + label.error {
	margin-top: -32px;
	right: -132px;
}

.input-group .form-control + label.error {
	margin-top: 0;
	right: -148px;
}
/* end form validation error */

.tab_container {
	margin-bottom: 10px;
	padding-top: 0;
	border-radius: 0 !important;
}

#tabmenu a, a.active {
	padding: 5px 10px 5px 10px;
}

.popover div {
	border-radius: 0 !important;
}

/* reminder widget */
.reminder-widget {
	padding: 20px;
	background-color: #FF4136;
}

.reminder-widget h3 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14pt;
}

.reminder-widget p {
	color: #FFFFFF;
	font-size: 11pt;
}
/* end reminder widget */

/* bootstrap col margin */
.row-sm {
	margin-left: -5px;
	margin-right: -5px;
}
.row-sm .col-xs-1, .row-sm .col-sm-1, .row-sm .col-md-1, .row-sm .col-lg-1, .row-sm .col-xs-2, .row-sm .col-sm-2, .row-sm .col-md-2, .row-sm .col-lg-2, .row-sm .col-xs-3, .row-sm .col-sm-3, .row-sm .col-md-3, .row-sm .col-lg-3, .row-sm .col-xs-4, .row-sm .col-sm-4, .row-sm .col-md-4, .row-sm .col-lg-4, .row-sm .col-xs-5, .row-sm .col-sm-5, .row-sm .col-md-5, .row-sm .col-lg-5, .row-sm .col-xs-6, .row-sm .col-sm-6, .row-sm .col-md-6, .row-sm .col-lg-6, .row-sm .col-xs-7, .row-sm .col-sm-7, .row-sm .col-md-7, .row-sm .col-lg-7, .row-sm .col-xs-8, .row-sm .col-sm-8, .row-sm .col-md-8, .row-sm .col-lg-8, .row-sm .col-xs-9, .row-sm .col-sm-9, .row-sm .col-md-9, .row-sm .col-lg-9, .row-sm .col-xs-10, .row-sm .col-sm-10, .row-sm .col-md-10, .row-sm .col-lg-10, .row-sm .col-xs-11, .row-sm .col-sm-11, .row-sm .col-md-11, .row-sm .col-lg-11, .row-sm .col-xs-12, .row-sm .col-sm-12, .row-sm .col-md-12, .row-sm .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
/* end bootstrap col margin */

/* css3 pretty checkbox */
.radio-btn label::before,
.radio-btn label::after {
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
/* end css3 pretty checkbox */

/* nice radio */
.nice-radio {
	display: table-row;
}

.nice-radio .button {
	display: table-cell;
	border: solid 1px #DDDDDD;
	width: 60px;
	text-align: center;
	background-color: #A6EBB2;
	cursor: pointer;
}

.nice-radio .caption {
	display: table-cell;
	border: solid 1px #DDDDDD;
	border-left: none;
	width: 87%;
}

.nice-radio .button,
.nice-radio .caption {
	padding: 5px;
	height: 50px;
}
/* end nice radio */

#modal-merger-pasien .nice-radio .button,
#modal-merger-pasien .nice-radio .caption {
	border-bottom: none;
}

#modal-merger-pasien .nice-radio .button {
	border-left: none;
}

#modal-merger-pasien .nice-radio .caption {
	border-right: none;
}