@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/*login page*/
body {
	background-color: #052430 !important;
	background-image: url('https://assets-cdn.github.com/images/modules/site/heroes/home-code-bg-alt-01.svg');
	background-size: 100%;
	color: rgb(153, 153, 153);
}

a {
	color: #FFFFFF;
}

.login-page {
	margin-top: 20vh;
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	background: none;
	border: none;
	padding: 0 !important;
	margin: 0 !important;
}

.jumbotron h1 {
	color: #FFFFFF;
}

.jumbotron p {
	font-weight: normal;
	font-family: 'Roboto';
	font-size: 20px;
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

.form-control {
	border-radius: 5px;
}

input[type="text"].form-control:focus, input[type="password"].form-control:focus {
	box-shadow: none;
	border: solid 1px #2A3036;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, 0.3);
}

/* bootstrap modal */
.modal .modal-content {
	border-radius: 0;
	border-radius: 5px;
	border: solid 1px #0D5875;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, 0.3);
}

.modal .modal-header {
	background-color: #E4E4E4;
	border-radius: 5px 5px 0 0;
}

.modal .modal-footer {
	padding: 10px !important;
}

.modal .modal-title {
	font-weight: bold;
	font-size: 16px;
	color: #000000;
}
/* end bootstrap modal */