body {
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
	background: #000000;
}
::-webkit-scrollbar-track {
	background: #666666;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: #666666;
}
::-webkit-scrollbar-track:active {
	background: #333333;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

h1.title {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

.slider-for .icon {
	font-size: 50px;
}

.slider-for .caption {
	font-size: 20px;
}

.slider-for .tt-container {
	margin-bottom: 20px;
}

.slider-nav {
	border-top: solid 1px #0D5875;
	padding: 6px;
}

.slider-nav .item {
	text-align: center;
	padding: 10px;
	background-color: #0D5875;
	margin: 0 3px;
	height: 100px;
}
.slider-nav .item:focus {
	outline: none;
}

.slider-nav h1,
.slider-nav h3,
.slider-nav h4 {
	margin: 0;
	color: #FFFFFF !important;
	font-weight: bold;
}

.slider-nav h1 {
	font-size: 25px;
}

.slider-nav .slick-current {
	background-color: #26799B;
}

.content .left-side {
	border-right: solid 1px #0D5875;
}

.content .left-side .top {
	border-bottom: solid 1px #0D5875;
}

.content .left-side .bottom {
	border-top: solid 1px #0D5875;
}

.content .left-side .logo,
.content .left-side .title {
	padding: 10px;
}

.content .left-side .title {
	background-color: #0D5875;
}

.content .left-side .title h3 {
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0;
	text-transform: uppercase;
}

.content .left-side .table-summary {
	height: 77vh;
	overflow: hidden;
}

.content .left-side:hover .table-summary {
	overflow-y: visible;
}

.content .left-side .table-summary th,
.content .left-side .table-summary td {
	font-size: 16px;
}

.content .right-side table.room-detail h3.title {
	margin: 0;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
}

.content .right-side table.room-detail h4 {
	margin: 0;
	font-weight: bold;
	font-size: 20px;
}

.content .right-side table.room-detail th,
.content .right-side table.room-detail td {
	text-align: center;
}

.footer {
	border-top: solid 1px #0D5875;
}

.footer .clock {
	background-color: #0D5875;
	font-weight: bold;
	font-size: 30px;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
}

.footer .running-text {
	background-color: #26799B;
	padding: 10px 0;
	font-size: 30px;
	padding: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.footer .running-text marquee {
	padding: 0;
	background: transparent;
}